@model AuthApp.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h2>Вход на сайт</h2>

<a asp-action="Register" asp-controller="Account">Регистрация</a>

<form method="post" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email" id="email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" id="password" />
            <span asp-validation-for="Password" />
        </div>
        <div type="hidden">
            <input type="hidden" asp-for="Url" id="Url" />
            <span type="hidden" asp-validation-for="Url" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>